@implements IDisposable

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" @onclick="GotoCartPage" style="cursor:pointer">

            <i class="fa fa-cart-shopping text-danger"></i>
            <span class="small text-danger fw-bold">@cartService.CartCount</span>

            <h6>
                Hello,
                <AuthorizeView>
                    <Authorized> @context.User.Identity!.Name</Authorized>
                    <NotAuthorized> Guest</NotAuthorized>
                </AuthorizeView>
            </h6>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse fw-bold" id="navbarSupportedContent" style="margin-left:25vw">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="font-family:MyFont">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" style="margin-right:20px" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" style="margin-right:20px" href="/products">Products</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="font-family:sans-serif">
                        <AuthorizeView>
                            <Authorized>
                                <li>
                                    <button class="btn btn-danger btn-none" @onclick="Logout"> <i class="fa fa-lock-open"></i>Logout</button>
                                </li>
                            </Authorized>
                            <NotAuthorized>
                                @{
                                    string register = "register";
                                    string login = "login";
                                }
                                <li>
                                    <button class="btn btn-none" @onclick="()=> NavigateTo(login)"> <i class="fa fa-lock"></i>Login</button>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <button class="btn btn-none" @onclick="()=> NavigateTo(register)"> <i class="fa fa-sign-in-alt"></i>Register</button>
                                </li>
                            </NotAuthorized>
                        </AuthorizeView>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            @if (ShowSearchIcon)
            {
                <button @onclick="SearchClicked" class="btn btn-none">
                    <i class="fa fa fa-magnifying-glass fs-5" style="cursor:pointer"></i>
                </button>
            }
            @if (ShowSearch)
            {
                <SearchComponent></SearchComponent>
            }
        </div>
    </div>
</nav>

@code {
    public bool ShowSearch { get; set; }
    public bool ShowSearchIcon { get; set; } = true;
    protected async override Task OnInitializedAsync()
    {
        await cartService.GetCartCount();
        cartService.CartAction += StateHasChanged;
    }
    void SearchClicked()
    {
        ShowSearch = true;
        ShowSearchIcon = !ShowSearch;
    }

    void NavigateTo(string url)
    {
        NavManager.NavigateTo($"identity/account/{url}");
    }

    private async Task Logout()
    {
        var logoutModel = new TokenProp();
        var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(logoutModel);
        NavManager.NavigateTo("/", forceLoad: true);
    }

    void GotoCartPage()
    {
        NavManager.NavigateTo("/shopping/cart/my-cart");
    }

    public void Dispose()
    {
        cartService.CartAction -= StateHasChanged;
    }
}