<form class="searchbar">
    <div class="position-relative w-100">
        <input class="form-control ps-5" type="search" placeholder="Search" aria-label="Search" />
        <span class="position-absolute search-icon">
            <i class="fas fa-search"></i>
        </span>
    </div>
</form>
