<div class="toplist text-center">
    <p class="mb-0 toplist-text">✔ Free shipping over 399 sek ✔ Free returns ✔ 1-3 day delivery</p>
</div>

@code {
    // Custom code-behind logic, if needed
}

<script>
    window.onscroll = function () {
        var toplist = document.querySelector('.toplist');
        if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
            toplist.classList.add('toplist-hidden');
        } else {
            toplist.classList.remove('toplist-hidden');
        }
    };
</script>
