.img-container img {
    width: 250px;
    height: 380px;
    float: right;
}

.text-container {
    position: absolute;
    bottom: 50px;
}

.button-group button {
    font-weight: bold;
}

.icon-button {
    background: none;
    border: none;
    color: inherit; /* Adjust color to fit your design */
    cursor: pointer;
}

    .icon-button:hover, .icon-button:focus {
        color: #007bff; /* Adjust hover color */
        outline: none;
    }

#styleButton {
    border-radius: 0px;
}

#styleCursor {
    cursor:pointer;
}

.e-carousel .slide-content{
    align-items: center;
    display: flex;
    font-size: 1.25rem;
    height: 100%;
    justify-content: center;
}

.control-container {
    background-color: #ffffff;
    margin: 0 auto;
}

.e-carousel .e-carousel-indicators .e-indicator-bars .e.e-indicator-bars .indicator{
    background-color: #3e3c41;
    border-radius: 0.25rem;
    cursor: pointer;
    display: flex;
    height: 0.5rem;
    justify-content: center;
    margin: 0.2rem;
    width: 2rem;

}

.e.carousel ellipse.carousel-indicators .e-indicator-bar.e-active .indicator {
    background-color: #3c78ef;
    color: #fff;
}